body {
  background-color: #121212;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 20px;
  border: solid 2px #888888;
  border-radius: 10px;
  background-color: #1e1e1e;
}

.carousel-inner img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.cards {
  background-color: #1e1e1e;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 20px;
  gap: 70px;
  border-radius: 10px;
}

.card-1,
.card-2,
.card-3 {
  width: 300px;
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: solid 2px #888888;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.youtube-card {
  border-radius: 10px;
  padding: 5px;
  height: auto;
  color: white;
  background-color: #ff0000;
  border: none;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

.youtube-card:hover {
  background-color: #c40000; /* Darker red on hover */
  cursor: pointer;
}

.thumbnail {
  border-radius: 10px;
  max-width: 250px;
  max-height: 130px;
}

footer {
  color: #bbbbbb;
  border-radius: 10px;
  border: solid 2px #888888;
  text-align: center;
}
